.oculto {
    visibility: hidden;
}

.btn-color {
    width: 80px;
    height: 80px;
    border: none;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #AAAAAA;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-self: space-around;
}


